{% extends "base.html" %}

{% load static %}

{% block imports %}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'styles/login.css' %}">

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="{% static 'scripts/login.js' %}"></script>

{% endblock %}

{% block content %}
    
<main>
  <div class="signin-ventana">
    <div class="signin-signup-content">

      <button class="invisible-button" onclick="login()"><h2 id="sign-title" class="active-tab title-signin-signup">Iniciar Sesi&oacute;n</h2></button>
      <button class="invisible-button" onclick="register()"><h2 id="signup-title" class="inactive-tab underline-hover title-signin-signup">Registrarse</h2></button>

      <form id="form-signin" action = "autenticar_usuario/" method = "POST"> <!-- accept = "<lugar donde se envia la informacion>"-->

        <label for="" id="avisoError" hidden="true" class="aviso">Error en el ingreso de datos</label>

        <input id="input-mail" class="txt-signin-signup" type="text" placeholder="Correo Electr&oacute;nico" hidden="true">
        <input id="input-username" class="txt-signin-signup" type="text" placeholder="Nombre de Usuario" hidden="true">

        <input id="input-name" class="txt-signin-signup" type="text" placeholder="Nombre de Usuario ó Correo Electr&oacute;nico">
        <input id="input-password" class="txt-signin-signup" type="text" placeholder="Contrase&ntilde;a">

        <input id="input-button-sigin" class="button-signin-signup" type="reset" onclick="avisarError()" value="Ingresar">

        <input id="input-signup-pais" class="txt-signin-signup" type="text" placeholder="País" hidden="true">
        <input id="input-signup-localidad" class="txt-signin-signup" type="text" placeholder="Localidad" hidden="true">

        <input id="input-signup-password" class="txt-signin-signup" type="text" placeholder="Contase&ntilde;a" hidden="true">
        <input id="input-repeat-password" class="txt-signin-signup" type="text" placeholder="Repita su Contase&ntilde;a" hidden="true">

        <input id="input-button-signup" class="button-signin-signup" type="reset" onclick="avisarError()" value="Registrarse" hidden="true">

      </form>

      <div class="form-footer">
        <a id="form-footer-a" class="underline-hover link-forgot" href="#">&#191;Olvidaste tu contrase&ntilde;a?</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}