.fondo_naranja_oscuro{
  background-color: #F3B072
}

*{

  font-style: "Poppins", sans-serif;
}

@media screen and (max-width: 600px) {
  .columna.derecha, .columna.medio {
    width: 100%;
  }
}

.hover a:hover {
  text-decoration: underline;
  font-size:larger;
}

iframe {
  align-self: flex-end;
  margin-top: calc(13%);
}

footer{
  padding-top: 10px;
  text-align: center;
  width: 100%;
  height: 40px;
  color: white;
}

.posicionMensaje {
  margin-top: 20%;
  position:fixed;
}