.fondo_naranja_oscuro{
  background-color: #F3B072
}

*{

  font-style: "Poppins", sans-serif;
}

@media screen and (max-width: 600px) {
  .columna.derecha, .columna.medio {
    width: 100%;
  }
}

.hover a:hover {
  text-decoration: underline;
  font-size: 105%;
}

iframe{
  width: 100%;
  height: 50px;
  border-style: none;
}

footer{
  padding: 10px;
  text-align: center;
  align-self: flex-end;
  width: 100%;
  height: 40px;
  color: white;
}