.img_inicio {
    float: left;
    clear: both;
    width: 100%;
    max-width: 200px;
    height: auto;  
    padding-right: 10px;
}

.inicio{
  background-color: #474343;
  color: white;
  padding: 15px;
  overflow: hidden;
}

.columna{
  float: left;
}

.columna.medio{
  width: 80%;
  padding: 50px;
}

.new-post{ /*apartado donde el admin puede crear posts*/

  width: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}

.user-profile{ /*la parte donde va el nombre del usuario*/

  display: flex;
  align-items: center;
}

.user-profile p {

 /* margin-bottom: -5px;*/
  font-weight: 500;
  color: #626262;
}

.user-profile span{

  font-size: 13px;
  color: #9a9a9a;
}

.input-new-post textarea{

  width: 100%;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.add-post-links{

  display: flex;
  margin-top: 0px;
}

.add-post-links a {

  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  font-size: 13px;
}

.add-post-links img{

  width: 20px;
  margin-right: 5px;
}

.publicacion{
  text-align: center;
  background-color: white;
  border-radius: 6px;
  width: 100%;
  padding: 20px;
  color: #626262;
  margin: 20px 0 ;
  overflow: hidden;
}

.publicacion h1{
  margin-top: 10px;
  text-align: left;
  font-weight: 450;
  font-size: 25px;
}

.texto{
  margin: 15px 0;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  color: #9a9a9a;
}

.img_interacciones{
  clear: both;
  width: 100%;
  max-width: 20px;
  height: auto;
}

.post-img {
  clear: both;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
  /*max-height: 400px;*/
  height: auto;
}

.post-interactions{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-icons img {

  margin-right: 5px;
}

.post-icons button{

  display: inline-flex;
  margin-right: 30px;
  align-items: center;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.body-comments{

  display: block;
  position: relative;
  word-break: break-word;
  border: 1px solid #d3d6db;
  background: transparent;
  box-sizing: border-box;
  cursor: text;
  font-size: 12px;
	padding: 0;
  border: none;
  margin-top: 30px;
}

.body-comments p{

  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin:0;
  text-align: justify;
}

.body-comments textarea{

  outline: none;
  resize: none;
  background-color: transparent;
  border: solid;
  border-color: #626262;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
	padding: 12px 8px;
  margin-top: 8px;
}

.body-comments button{

  margin-left:8px;
  background-color: #F3B072;
  border: 1px solid #F3B072;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  float: right;
}

.new-comment{
  
  padding: 0 8px;
  font-size: 12px;
  display: block; /*uno debajo del otro*/
}

.columna.derecha{
 width: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .columna.derecha, .columna.medio {
    width: 100%;
  }
}