<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="img/logo.png">
    <title>Esoterico - Bohemio y Natural</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com/" >
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles\index.css">
    <link rel="stylesheet" href="styles\common-styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    
    <script src="scripts\inicio.js"></script>
    <script src="scripts\general.js"></script>
  </head>

  <body style="background-color: #FAE7D6;">

    <!-- Header -->
    <header>
      <!-- nav -->
      
    <div id="nav-placeholder"></div>
      <script>colocarNav();</script>
    </header>
    
    <!-- Main -->
    <main>
      <!-- It contains an article -->
      <div class="inicio">
        <img src="img/imagen_ejemplo.png" alt="Imagen" class="img_inicio">
        <h1>Esoterico-Bohemio y Natural</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
          lectus. Set sit amet ipsum mauris.</p>

      </div>
    <div class="row">
      
      <div class="columna derecha"></div>
      
      <div class="columna medio">

        <div class="new-post">
          
          <div class="user-profile">
            <p>NombreUsuarioPublica</p>
          </div>

          <div class="input-new-post">
            <textarea rows="3" placeholder="Nueva Publicacion"></textarea>
          </div>
          <div class="add-post-links">

            <a href="#"><img src="img\camera.png">Imagen</a>
            <div class="postEspacio"></div>
            <button id="btn-publicar" class="btn-postear" type="button" value="1">Publicar</button>
          </div>

        </div>

        <div class="publicacion">

          <div class="user-profile">
            <p>NombreUsuarioPublica</p>
            <span>Fecha Hora</span>
          </div>

          <h1>Titulo</h1>
          
          <p class="texto">
            
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
            lectus. Set sit amet ipsum mauris.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
            lectus. Set sit amet ipsum mauris.
          </p>
            
          <img src="img/imagen_ejemplo.png" alt="Imagen" class="post-img">
          
          <div class="post-interactions">
            
            <div class="post-icons">
              <ul  class="nav">
                <li>
                  <button type="button" onclick="cambiarMegusta();">
                    <img id="imagen" src="img/megusta_desactivado.png" alt="Imagen" class="img_interacciones">
                  Me gusta</button>
                </li>
                <li>
                  <button type="button" onclick="">
                    <img src="img/comentar.png" alt="Imagen" class="img_interacciones">
                  Comentar</button>
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="box_comment">
              
            <div class="new-comment">

              <div class="user-comment">
                <h4 class="texto-body-comments">NombreUsuarioPublica</h4>
              </div>
              
              <div class="content-comment">
                <textarea class="comment" placeholder="Escribe un Comentario"></textarea>
              </div>

              <div class="footer-comment">
                <button class="btn-postear" type="button" value="1">Comentar</button>
              </div>
            </div>

            <div class="container-list-comments row">
              <ul id="list-comments" class="col-md-12">
      
                <li class="comment row">
                  <div class="comment-content col-md-11">
                    <h4>Nath Ryuzaki<span aria-hidden="true"> · </span><span>26min</span></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                    <div class="comment-interactions">
                      <a class="like" href="#">Me gusta</a>
                      <a class="replay" href="#">Responder</a>
                    </div>
                  </div>
                </li>
          
                <li class="comment row">
                  <div class="comment-content col-md-11">
                    <h4>Nath Ryuzaki<span aria-hidden="true"> · </span><span>26min</span></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                    <div class="comment-interactions">
                      <a class="like" href="#">Me gusta</a>
                      <a class="replay" href="#">Responder</a>
                    </div>
                    <ul class="child_replay">
                      <li class="reply-comment row">
                         <div class="comment-content col-md-11 ">
                            <h4>Nath Ryuzaki<span aria-hidden="true"> · </span><span>26min</span></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                            <div class="comment-interactions">
                              <a class="like" href="#">Me gusta</a>
                              <a class="replay" href="#">Responder</a>
                            </div>
                          </div>
                        </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="columna derecha">
        <div id="msg-placeholder" class="posicionMensaje"></div>
        <script>colocarMsg();</script>
      </div>
    </div>
    </main>

    <!-- Footer -->
    <iframe src="footer.html" width=100% height=50px frameborder="0"></iframe>
  </body>
</html>