<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="img/logo.png">
    <title>Esoterico - Bohemio y Natural</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
    rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com/" >
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/estilos.css">
    <link rel="stylesheet" href="styles/common-styles.css">
  </head>

  <body style="background-color: #FAE7D6;">
    <!-- Here is our main header that is used across all the pages of our website -->

    <header>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <script src="scripts/inicio.js"></script>
    </header>

    <nav class="fondo_naranja_oscuro hover">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img src="img/logo.png" alt="Logo" width="40" height="45" class="d-inline-block">
          Esoterico-Bohemio y Natural
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Productos</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Sobre mi</a></li>
        </ul>

        <div id="nav-div-derecho"class="col-md-3 text-end">
          <button hidden="true" id="btn-iniciar-sesion" type="button" class="btn btn-light">Iniciar sesión</button>
          <button hidden="true" id="btn-registrarse" type="button" class="btn btn-light">Registrarse</button>         
          <!-- <img class="redimensionar" src="img/megusta_activado.png"> -->
          <!-- <h6 id="id-nombre-usuario">hioli</h6> -->
        </div>
      </header>
    </nav>

    <!-- Here is our page's main content -->
    <main>
      <!-- It contains an article -->

      <div class="inicio">
        <img src="img/imagen_ejemplo.png" alt="Imagen" class="img_inicio">
        <h1>Esoterico-Bohemio y Natural</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
          lectus. Set sit amet ipsum mauris.</p>

      </div>
    <div class="row">
      <div class="columna derecha"></div>
      <div class="columna medio">
        <div class="publicacion">
          <h1>Titulo</h1>
          <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
            lectus. Set sit amet ipsum mauris.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
            lectus. Set sit amet ipsum mauris.</p>
            <img src="img/imagen_ejemplo.png" alt="Imagen" class="redimensionar">
          <ul  class="nav">
            <li>
              <button type="button" onclick="cambiarMegusta();">
                <img id="imagen" src="img/megusta_desactivado.png" alt="Imagen" class="img_interacciones">
                Me gusta</button>
            </li>
            <li>
              <button type="button" onclick="">
                <img src="img/comentar.png" alt="Imagen" class="img_interacciones">
                Comentar</button>
            </li>

          </ul>
        </div>
        
      </div>
      <div class="columna derecha">
      

      </div>
    </div>
    </main>

    <!-- And here is our main footer that is used across all the pages of our website -->
    <footer class="fondo_naranja_oscuro" >
      <iframe src="footer.html" frameborder="0"></iframe>
    </footer>
  </body>
</html>